.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.submit-btn,
.export-btn {
  background-color: #90ee90;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background: #1ac91a;
}

.chart {
  margin-top: 30px;
}
